menu "WIFI Configuration"

  config WIFI_SSID
      string "WiFi SSID"
      default "wpa2_test"
      help
          SSID (network name) to connect to.

  config WIFI_PASSWORD
      string "WiFi Password"
      default ""
      help
          Password (wifi password) to connect to.
      
endmenu
